
.navbar-inverse{
	background: #50057f;
}

.navbar-inverse .navbar-nav>li>a {
	color: white;
}

.menu:hover {
  background-color: #7003a3;
}

.btn-danger {
	color: #3c03b7;
	background: #ffc300;
	border: none;
}

.btn-danger:hover {
	background-color: #7003a3;
	border: none;
}

.envelope:hover {
	color: #ffc300; 
}

.fa-sign-in-alt:hover {
	color: #ffc300; 
}

.navbar-brand {
  padding: 0px;
}

.navbar-brand>img {
  height: 100%;
  width: auto;
  padding-left: 30px;
  padding-right: 15px;
}

.navbar {
	padding-top: 10px;
	padding-bottom: 10px;
	padding-right: 15px;
}

.jabbar {
	padding-top: 20rem;
}

.jabbar-two {
	padding-top: 20rem;
	opacity: 0.7;
}

#art {
background: url(bwood.jpeg);
text-align:center;
height: 100%;
min-height: 100%;
max-height: 100%;
width: 100%;
background-size: 100% 100%;
background-position: center;
max-width: 100%;
min-width: 100%;
top: 0;
left: 0;
padding: 0;
margin: 0;
border: #999 solid 1px;
margin-left: 1px;
margin-right: 1px;
}