body{
	background: lightblue;
	text-align: center;
	font-family: Roboto;
}


.wrapper {
	width: 100%;
	padding: 2rem;
	box-sizing: border-box;
}


.circle {
	width: 10rem;
	padding: 5rem 0;
	line-height: 0;
	margin: 6rem auto;
	background: pink;
	color: white;
	border-radius: 5rem;
	cursor: pointer;
	box-shadow: inset 0 -5px 15px rgba(255,255,255,0.4), 
				inset -2px -1px 40px rgba(0,0,0,0.4), 
				0 0 1px #000;
	transition: background 1s, transform 0.3s;
}

.circle:hover {
	background: salmon;
	box-shadow: inset 0 -5px 15px rgba(255,255,255,0.4), 
				inset -2px -1px 40px rgba(0,0,0,0.4), 
				0 0 1px #000;
	transform: rotate(360deg);
}

